#root {
	height: 100%;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#myCanvas, #testCanvas {
	width: 100%;
	height:100%;
	background-color: #E8ECEC;
}

#header {
	background-color: #222222;
	height: 56px;
	color: #fff;
	box-shadow: 0 2px 4px #888888;

}

#logo {
	height: 24px;
	margin: 16px;
	display: inline-block;
}

#pageTitle {
	display: inline-block;
	margin-top: 16px;
}

.container-main {
	margin: 24px;
}